<div class="row">
  <div class="col-xs-12 col-md-4 mt-5">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-xs-12 col-md-8 mt-5">
    <h1>{{user.name}}</h1>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Email:</strong> {{user.email}}</li>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary" type="submit">Edit</a>
        <li>已評論過的餐廳數:{{user.Comments.length}}</li>
      </ul>
    </div>
  </div>
  <hr>
</div>

<br />
<br />

<div class="card">
  <div class="card-header">
    <strong>評論過的餐廳</strong>
  </div>
  <div class="card-body">
    {{#each user.Comments}}
      <a href="/restaurants/{{this.Restaurant.id}}"style="margin:10px;text-decoration:none;">
        <img src="{{this.Restaurant.image}}" style="width: 80px; height: 80px;">
      </a>
    {{/each}}
  </div>
</div>

<a href="javascript:history.back()">回上一頁</a>